{{hello-worldapp}}

<section>
  {{#each model as |post|}}
    {{#link-to 'posts' post}}{{post.title}}{{/link-to}}
  {{/each}}
</section>

<section>
  {{action-component}}
</section>

<p>
  <button {{action "moveTo"}}>Move to Students</button>
</p>

<h3>Working with inputs</h3>
{{input value="Hello World"}}
{{input value=welcomeText key-press='pressed'}}
{{input value=onChangeText}}<i>{{onChangeText}}</i><br>

{{input type='checkbox' checked=isChecked}}
{{isChecked}}<br>

{{#link-to 'about'}}About{{/link-to}}

{{outlet}}
